.country-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.visited {
    background: rgb(57, 143, 126);
    color: rgb(229, 224, 224);
}
.flag-container img{
    width: 100px;
}